
/ {
    chosen {
        /* Weist dem zephyr-uds Modul den CAN-Controller zu */
        zephyr,canbus = &fdcan1;
    };
};

/* don't attach shield waveshare_rs485_can to nucleo G474re -> use jumper wires to connect PA11 and PA12! */

&pinctrl {
    /* FDCAN1 auf PB8 und PB9 legen (Alternate Function 9) */
    fdcan1_rx_pb8: fdcan1_rx_pb8 {
        pinmux = <STM32_PINMUX('B', 8, AF9)>; /* PB8 = FDCAN1_RX (D15) */
    };

    fdcan1_tx_pb9: fdcan1_tx_pb9 {
        pinmux = <STM32_PINMUX('B', 9, AF9)>; /* PB9 = FDCAN1_TX (D14) */
    };
};

&fdcan1{
    status = "okay";

    /* Zuweisung der modifizierten Pins */
    pinctrl-0 = <&fdcan1_tx_pb9 &fdcan1_rx_pb8>;
    pinctrl-names = "default";

    bus-speed = <500000>;

    /* Falls Sie kein CAN-FD nutzen, deaktivieren Sie die höhere Datenrate.
     * Sollten Sie CAN-FD nutzen wollen, aktivieren Sie diese Zeile: */
    /* bus-speed-data = <2000000>; */

    /* Optionale feine Bit-Timing-Einstellungen für das SN65HVD230 des Waveshare-Shields.
       Der Zephyr-Treiber berechnet diese Werte anhand des internen Taktes (meist 150MHz oder 170MHz beim G4)
       automatisch. Falls Sie Sample-Points manuell erzwingen müssen, nutzen Sie diese Eigenschaften: */
    sample-point = <800>; /* 80.0% Sample Point (Standard für CANopen/Automotive) */
};
