# zephyr-uds-app/app/boards/shields/waveshare_rs485_can/Kconfig.defconfig

if SHIELD_WAVESHARE_RS485_CAN

config CAN
    default y

config SERIAL
    default y

config UART_INTERRUPT_DRIVEN
    default y

endif
